<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hello, Flask</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
</head>
<body>
    {%if name %}
        <span class="message">Hello there, {{ name }}!</span> &nbsp; It's {{ date.strftime("%A, %d %B, %Y at %X") }}.
    {% else %}
        <span class="message">What's your name? &nbsp; 
            Provide it after <code>/hello/</code> in the URL.</span>
    {% endif %}
    <div align="left">
        <hr style="color: blue; background-color: blue; 
            height: 0.5px; width: 67%; margin-left: 0;
            margin: 25px 0 25px 0;"
            /* margin-top: 25px; margin-bottom: 25px;" */ />
    </div>
    <!-- {{ date.strftime("%A, %d %B, %Y at %X") }} -->
    <p><sub>© {{ date.strftime("%Y") }}</sub><br />
        <sub>{{ date.strftime("%A, %B %d, %Y at %X  %z %Z") }}</sub>
    </p>
</body>
</html>
